<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<suite name="Suite" parallel="tests">
  <listeners>
    <listener class-name="Utilities.Reporters"/>
  </listeners>
  <test id="1" name="Desktop1.1">
    <parameter name="selenium.machinename" value="Desktop1.1"/>
    <parameter name="selenium.host" value="172.28.64.116"/>
    <parameter name="selenium.port" value="3456"/>
    <parameter name="selenium.browser" value="Firefox"/>
    <parameter id="1" name="selenium.url" value="https://www.josbank.com"/>
    <parameter id="1" name="selenium.os" value="Windows"/>
    <parameter id="1" name="selenium.browserVersion" value="44"/>
    <parameter id="1" name="selenium.osVersion" value="7"/>
    <parameter id="1" name="TestData.SheetNumber" value="1"/>
    <classes name="1">
      <class id="1" name="TestCases.TestCases"/>
      <methods id="1">
        <exclude name="AddToWishListGuestTest"/>
        <include name="ShoppingCartTest"/>
        <exclude name="EGiftCardOrderMemberTest"/>
        <exclude name="PhysicalGiftCardAndAnyOneProductOrderPlacementGuestTest"/>
        <exclude name="PhysicalGiftCardOrderGuestTest"/>
        <include name="UserRegistrationTest"/>
        <exclude name="CategoryShoppingCartTest"/>
        <exclude name="EGiftCardWithRegularProductTest"/>
        <exclude name="EGiftCardMergeWithRegularProductTest"/>
        <exclude name="EGiftCardOrderGuestTest"/>
        <exclude name="EGiftCardOrderSecureLoginTest"/>
        <exclude name="SavedCardOrderPlacementTest"/>
        <exclude name="GiftCardRedemptionTest"/>
        <include name="HeaderLinksOnHomePageTest"/>
        <include name="FooterLinksOnHomePageTest"/>
        <include name="AddToCartDifferentCategoryProductsTest"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartOne"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartTwo"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartThree"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartFour"/>
        <include name="KeywordSearchTest"/>
        <include name="AccountDashboardTest"/>
      </methods>
    </classes>
  </test>
  <test id="2" name="Desktop1.2">
    <parameter name="selenium.machinename" value="Desktop1.2"/>
    <parameter name="selenium.host" value="172.28.64.116"/>
    <parameter name="selenium.port" value="4567"/>
    <parameter name="selenium.browser" value="Chrome"/>
    <parameter id="2" name="selenium.url" value="https://www.josbank.com"/>
    <parameter id="2" name="selenium.os" value="Windows"/>
    <parameter id="2" name="selenium.browserVersion" value="49"/>
    <parameter id="2" name="selenium.osVersion" value="7"/>
    <parameter id="2" name="TestData.SheetNumber" value="2"/>
    <classes name="2">
      <class id="2" name="TestCases.TestCases"/>
      <methods id="2">
        <exclude name="AddToWishListGuestTest"/>
        <include name="ShoppingCartTest"/>
        <exclude name="EGiftCardOrderMemberTest"/>
        <exclude name="PhysicalGiftCardAndAnyOneProductOrderPlacementGuestTest"/>
        <exclude name="PhysicalGiftCardOrderGuestTest"/>
        <include name="UserRegistrationTest"/>
        <exclude name="CategoryShoppingCartTest"/>
        <exclude name="EGiftCardWithRegularProductTest"/>
        <exclude name="EGiftCardMergeWithRegularProductTest"/>
        <exclude name="EGiftCardOrderGuestTest"/>
        <exclude name="EGiftCardOrderSecureLoginTest"/>
        <exclude name="SavedCardOrderPlacementTest"/>
        <exclude name="GiftCardRedemptionTest"/>
        <include name="HeaderLinksOnHomePageTest"/>
        <include name="FooterLinksOnHomePageTest"/>
        <include name="AddToCartDifferentCategoryProductsTest"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartOne"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartTwo"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartThree"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartFour"/>
        <include name="KeywordSearchTest"/>
        <include name="AccountDashboardTest"/>
      </methods>
    </classes>
  </test>
  <test id="3" name="Desktop1.3">
    <parameter name="selenium.machinename" value="Desktop1.3"/>
    <parameter name="selenium.host" value="172.28.64.17"/>
    <parameter name="selenium.port" value="3333"/>
    <parameter name="selenium.browser" value="InternetExplorer"/>
    <parameter id="3" name="selenium.url" value="https://www.josbank.com"/>
    <parameter id="3" name="selenium.os" value="Windows"/>
    <parameter id="3" name="selenium.browserVersion" value="11"/>
    <parameter id="3" name="selenium.osVersion" value="7"/>
    <parameter id="3" name="TestData.SheetNumber" value="3"/>
    <classes name="3">
      <class id="3" name="TestCases.TestCases"/>
      <methods id="3">
        <exclude name="AddToWishListGuestTest"/>
        <include name="ShoppingCartTest"/>
        <exclude name="EGiftCardOrderMemberTest"/>
        <exclude name="PhysicalGiftCardAndAnyOneProductOrderPlacementGuestTest"/>
        <exclude name="PhysicalGiftCardOrderGuestTest"/>
        <include name="UserRegistrationTest"/>
        <exclude name="CategoryShoppingCartTest"/>
        <exclude name="EGiftCardWithRegularProductTest"/>
        <exclude name="EGiftCardMergeWithRegularProductTest"/>
        <exclude name="EGiftCardOrderGuestTest"/>
        <exclude name="EGiftCardOrderSecureLoginTest"/>
        <exclude name="SavedCardOrderPlacementTest"/>
        <exclude name="GiftCardRedemptionTest"/>
        <include name="HeaderLinksOnHomePageTest"/>
        <include name="FooterLinksOnHomePageTest"/>
        <include name="AddToCartDifferentCategoryProductsTest"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartOne"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartTwo"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartThree"/>
        <include name="SubcategoriesLinksNavigationOnHomePageTestPartFour"/>
        <include name="KeywordSearchTest"/>
        <include name="AccountDashboardTest"/>
      </methods>
    </classes>
  </test>
</suite>
